openapi: 3.0.1
info:
  title: LoginRadius API
  description: This is a LoginRadius API server. Which you can use to authenticate and manage the user.
  version: 1.0.0
  contact:
    name: API Support
    url: https://www.loginradius.com
    email: support@loginradius.com
servers:
  - url: https://api.loginradius.com
    description: LoginRadius Prod Server
  - url: https://{domain}.hub.loginradius.com
    description: LoginRadius Default HostedPage Server
    variables:
      domain:
        default: example
        description: LoginRadius Tenant Name
  - url: https://{customDomain}
    description: Custom Domain Hosted By LoginRadius
    variables:
      customDomain:
        default: example.com
        description: Custom domain
security:
  - APIKey: []
  - ClientId: []
tags:
  - name: Registration
    description: Registeration API's
  - name: Login
    description: Login API's
  - name: User
    description: User Actions APIs
  - name: Password
    description: Password API's
  - name: Security
    description: User Security API's
  - name: Session
    description: Session Management APIs
  - name: Custom Object
    description: Custom Object APIs
  - name: Accounts
    description: Account Management APIs
  - name: Account Session
    x-displayName: Session Management
    description: Access Token APIs
  - name: Account Security
    x-displayName: Security Management
    description: Account Security APIs
  - name: Account Custom Object
    x-displayName: Custom Object Management
    description: Account Custom Object APIs
  - name: Multipurpose Tokens
    description: Multipurpose Tokens API
  - name: Roles Management
    description: APIs for managing roles for B2C Tenant.
  - name: Organization
    description: Manage Organizations and their settings
  - name: Organization User Roles
    description: Manage role assignments for users within Organizations
  - name: Organization Connections
    description: Manage identity provider connections for Organizations
  - name: Organization Connection Group Roles
    description: Manage group to role mappings for Organization connections
  - name: Organization Domains
    description: Manage domains associated with Organizations
  - name: Organization Invitations
    description: API's for managing Organization invitations
  - name: Permissions
    description: Manage permissions that can be assigned to roles
  - name: Roles
    description: Manage roles that can be assigned to users
  - name: SOTT
    description: SOTT actions
  - name: Custom Fields
    description: Custom Fields actions
  - name: Webhooks
    description: Webhooks actions
  - name: Workflows
    description: Workflows actions
  - name: SMS Templates
    description: SMS Templates actions
  - name: Passkey Configuration
    description: Passkey Configuration actions
  - name: Push Notification Configuration
    description: Push Notification Configuration actions
  - name: Security Questions
    description: Security Questions actions
  - name: Domain Access Restrictions
    description: Domain Access Restrictions actions
  - name: Email Templates
    description: Email Templates actions
  - name: Social Providers
    description: Social Providers actions
  - name: Second Factor Configuration
    description: Second Factor Configuration actions
  - name: Captcha Configuration
    description: Captcha Configuration actions
  - name: IP Access Restrictions
    description: IP Access Restrictions actions
  - name: JWT Integrations
    description: JWT Integrations actions
  - name: SAML Integrations
    description: SAML Integrations actions
  - name: OAuth Integrations
    description: OAuth Integrations actions
  - name: OAuth Clients
    description: OAuth Clients actions
  - name: OAuth Custom Providers
    description: OAuth Custom Providers actions
  - name: JWT Custom Providers
    description: JWT Custom Providers actions
  - name: SAML Custom Providers
    description: SAML Custom Providers actions
  - name: Password Policy
    description: Password Policy actions
  - name: Identity
    description: Identity Analytics APIs
  - name: Custom Objects
    description: Custom Object Analytics APIs
  - name: Insights
    description: Aggregation Analytics APIs
  - name: SAML
    description: Federated SSO SAML APIs
  - name: JWT
    description: Federated SSO JWT APIs
  - name: Cross Device SSO
    description: Cross Device SSO APIs
  - name: OAuth M2M
    description: OAuth M2M APIs
  - name: OAuth
    description: OAuth APIs
  - name: OIDC
    description: OpenId Connect
  - name: User Migration
    description: Bulk Migration APIs
  - name: Consent
    description: Consent actions
  - name: BigCommerce SSO
    description: BigCommerce SSO integration APIs
  - name: Shopify SSO
    description: Shopify SSO integration APIs
  - name: PerfectMind SSO
    description: PerfectMind SSO integration APIs
paths:
  /identity/v2/auth/password:
    post:
      summary: Forgot Password
      description: Initiates the Password recovery process using Username or Email.
      operationId: ForgotPassword
      tags:
        - Password
      parameters:
        - $ref: '#/components/parameters/EmailTemplate'
        - $ref: '#/components/parameters/ResetPasswordUrl'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/QQRecaptchaTicket'
        - $ref: '#/components/parameters/QQRecaptchaRandstr'
        - $ref: '#/components/parameters/HCaptchaResponse'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/EmailUserNameModel'
                - $ref: '#/components/schemas/CaptchaModel'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsPostedResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/POST_BODY_INVALID'
                USERNAME_REQUIRED:
                  $ref: '#/components/examples/USERNAME_REQUIRED'
                EMAIL_ID_OR_USER_REQUIRED:
                  $ref: '#/components/examples/EMAIL_ID_OR_USER_REQUIRED'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                CAPTCHA_NOT_VALID:
                  $ref: '#/components/examples/CAPTCHA_NOT_VALID'
                RESET_PASSWORD_URL_INVALID:
                  $ref: '#/components/examples/RESET_PASSWORD_URL_INVALID'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                EMAIL_SEND_LIMIT_REACHED:
                  $ref: '#/components/examples/EMAIL_SEND_LIMIT_REACHED'
    put:
      tags:
        - Password
      operationId: ResetPasswordByResetToken
      summary: Reset Password with token and OTP
      description: Sets a new Password for the specified Account using a reset token and OTP.
      parameters:
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/HCaptchaResponse'
        - $ref: '#/components/parameters/QQCaptchaTicket'
        - $ref: '#/components/parameters/QQCaptchaRandstr'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPassword'
            examples:
              ResetPasswordByEmailAndOTP:
                $ref: '#/components/examples/ResetPasswordByEmailAndOTP'
              ResetPasswordByUsernameAndOTP:
                $ref: '#/components/examples/ResetPasswordByUsernameAndOTP'
              ResetPasswordByResetToken:
                $ref: '#/components/examples/ResetPasswordByResetToken'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                API_KEY_AND_RESET_TOKEN_REQUIRED:
                  $ref: '#/components/examples/API_KEY_AND_RESET_TOKEN_REQUIRED'
                API_KEY_AND_PASSWORD_REQUIRED:
                  $ref: '#/components/examples/API_KEY_AND_PASSWORD_REQUIRED'
                PASSWORD_AND_RESET_TOKEN_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_AND_RESET_TOKEN_REQUIRED'
                RESET_TOKEN_REQUIRED:
                  $ref: '#/components/examples/RESET_TOKEN_REQUIRED'
                PASSWORD_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_REQUIRED'
                SERVER_SIDE_VALIDATION_ERROR:
                  $ref: '#/components/examples/SERVER_SIDE_VALIDATION_ERROR'
                USERNAME_REQUIRED:
                  $ref: '#/components/examples/USERNAME_REQUIRED_PARAM'
                OTP_REQUIRED:
                  $ref: '#/components/examples/OTP_REQUIRED'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                EMAIL_PHONE_USERNAME_PAYLOAD_REQUIRED:
                  $ref: '#/components/examples/EMAIL_PHONE_USERNAME_PAYLOAD_REQUIRED'
                EMAIL_REQUIRED:
                  $ref: '#/components/examples/EMAIL_REQUIRED'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                RAAS_PROFILE_NOT_EXISTS:
                  $ref: '#/components/examples/RAAS_PROFILE_NOT_EXISTS'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                USER_ID_LOCKED_WITH_TIMEOUT:
                  $ref: '#/components/examples/USER_ID_LOCKED_WITH_TIMEOUT'
                LOGIN_IS_LOCKED_FOR_RECAPTCHA:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_RECAPTCHA'
                USER_ID_LOCKED:
                  $ref: '#/components/examples/USER_ID_LOCKED'
                LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                SECURITY_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_ANSWER_INVALID'
                VERIFICATION_OTP_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_OTP_NOT_VALID'
                VERIFICATION_VTOKEN_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_VTOKEN_NOT_VALID'
                LINK_EXPIRED:
                  $ref: '#/components/examples/LINK_EXPIRED'
                LINK_ALREADY_VERIFIED:
                  $ref: '#/components/examples/LINK_ALREADY_VERIFIED'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                WEAK_PASSWORD:
                  $ref: '#/components/examples/WEAK_PASSWORD'
                PASSWORD_IN_HISTORY:
                  $ref: '#/components/examples/PASSWORD_IN_HISTORY'
                BREACHED_PASSWORD:
                  $ref: '#/components/examples/BREACHED_PASSWORD'
                ACTIVE_SESSIONS_EXCEEDED:
                  $ref: '#/components/examples/ACTIVE_SESSIONS_EXCEEDED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
  /identity/v2/auth/password/change:
    put:
      tags:
        - Password
      summary: Update Password
      operationId: ChangePassword
      description: Updates the Account Password using the current Password for verification.
      parameters:
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/HCaptchaResponse'
        - $ref: '#/components/parameters/QQCaptchaTicket'
        - $ref: '#/components/parameters/QQCaptchaRandstr'
        - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changePassword'
      responses:
        '200':
          description: Password change successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsPostedResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                ACCESS_TOKEN_REQUIRED:
                  $ref: '#/components/examples/ACCESS_TOKEN_REQUIRED'
                OAUTH_TOKEN_CONFIG_NOT_FOUND:
                  $ref: '#/components/examples/OAUTH_TOKEN_CONFIG_NOT_FOUND'
                OLD_PASSWORD_REQUIRED:
                  $ref: '#/components/examples/OLD_PASSWORD_REQUIRED'
                NEW_PASSWORD_REQUIRED:
                  $ref: '#/components/examples/NEW_PASSWORD_REQUIRED'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                INVALID_PASSWORD:
                  $ref: '#/components/examples/INVALID_PASSWORD'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                ACCESS_TOKEN_NOT_VALID:
                  $ref: '#/components/examples/ACCESS_TOKEN_NOT_VALID'
                ACCESS_TOKEN_EXPIRED:
                  $ref: '#/components/examples/ACCESS_TOKEN_EXPIRED'
                CAPTCHA_NOT_VALID:
                  $ref: '#/components/examples/CAPTCHA_NOT_VALID'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                USER_ID_LOCKED_WITH_TIMEOUT:
                  $ref: '#/components/examples/USER_ID_LOCKED_WITH_TIMEOUT'
                USER_ID_LOCKED:
                  $ref: '#/components/examples/USER_ID_LOCKED'
                LOGIN_IS_LOCKED_FOR_RECAPTCHA:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_RECAPTCHA'
                LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION'
                SECURITY_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_ANSWER_INVALID'
                WEAK_PASSWORD:
                  $ref: '#/components/examples/WEAK_PASSWORD'
                PASSWORD_IN_HISTORY:
                  $ref: '#/components/examples/PASSWORD_IN_HISTORY'
                BREACHED_PASSWORD:
                  $ref: '#/components/examples/BREACHED_PASSWORD'
      security:
        - BearerToken: []
          APIKey: []
  /identity/v2/auth/password/reset:
    put:
      tags:
        - Password
      operationId: ResetPassword
      summary: Reset Password with token and OTP
      description: Sets a new Password for the specified Account using a reset token and OTP.
      parameters:
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/HCaptchaResponse'
        - $ref: '#/components/parameters/QQCaptchaTicket'
        - $ref: '#/components/parameters/QQCaptchaRandstr'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPassword'
            examples:
              ResetPasswordByEmailAndOTP:
                $ref: '#/components/examples/ResetPasswordByEmailAndOTP'
              ResetPasswordByUsernameAndOTP:
                $ref: '#/components/examples/ResetPasswordByUsernameAndOTP'
              ResetPasswordByResetToken:
                $ref: '#/components/examples/ResetPasswordByResetToken'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                API_KEY_AND_RESET_TOKEN_REQUIRED:
                  $ref: '#/components/examples/API_KEY_AND_RESET_TOKEN_REQUIRED'
                API_KEY_AND_PASSWORD_REQUIRED:
                  $ref: '#/components/examples/API_KEY_AND_PASSWORD_REQUIRED'
                PASSWORD_AND_RESET_TOKEN_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_AND_RESET_TOKEN_REQUIRED'
                RESET_TOKEN_REQUIRED:
                  $ref: '#/components/examples/RESET_TOKEN_REQUIRED'
                PASSWORD_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_REQUIRED'
                SERVER_SIDE_VALIDATION_ERROR:
                  $ref: '#/components/examples/SERVER_SIDE_VALIDATION_ERROR'
                USERNAME_REQUIRED:
                  $ref: '#/components/examples/USERNAME_REQUIRED_PARAM'
                OTP_REQUIRED:
                  $ref: '#/components/examples/OTP_REQUIRED'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                EMAIL_PHONE_USERNAME_PAYLOAD_REQUIRED:
                  $ref: '#/components/examples/EMAIL_PHONE_USERNAME_PAYLOAD_REQUIRED'
                EMAIL_REQUIRED:
                  $ref: '#/components/examples/EMAIL_REQUIRED'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                RAAS_PROFILE_NOT_EXISTS:
                  $ref: '#/components/examples/RAAS_PROFILE_NOT_EXISTS'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                USER_ID_LOCKED_WITH_TIMEOUT:
                  $ref: '#/components/examples/USER_ID_LOCKED_WITH_TIMEOUT'
                LOGIN_IS_LOCKED_FOR_RECAPTCHA:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_RECAPTCHA'
                USER_ID_LOCKED:
                  $ref: '#/components/examples/USER_ID_LOCKED'
                LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                SECURITY_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_ANSWER_INVALID'
                VERIFICATION_OTP_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_OTP_NOT_VALID'
                VERIFICATION_VTOKEN_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_VTOKEN_NOT_VALID'
                LINK_EXPIRED:
                  $ref: '#/components/examples/LINK_EXPIRED'
                LINK_ALREADY_VERIFIED:
                  $ref: '#/components/examples/LINK_ALREADY_VERIFIED'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                WEAK_PASSWORD:
                  $ref: '#/components/examples/WEAK_PASSWORD'
                PASSWORD_IN_HISTORY:
                  $ref: '#/components/examples/PASSWORD_IN_HISTORY'
                BREACHED_PASSWORD:
                  $ref: '#/components/examples/BREACHED_PASSWORD'
                ACTIVE_SESSIONS_EXCEEDED:
                  $ref: '#/components/examples/ACTIVE_SESSIONS_EXCEEDED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
  /identity/v2/auth/password/otp:
    put:
      tags:
        - Password
      summary: Reset Password with Phone and OTP
      description: Resets the Password using OTP and Phone number verification.
      operationId: ResetPasswordWithOTP
      parameters:
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/HCaptchaResponse'
        - $ref: '#/components/parameters/QQCaptchaTicket'
        - $ref: '#/components/parameters/QQCaptchaRandstr'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordWithOTP'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                PASSWORD_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_REQUIRED'
                OTP_REQUIRED:
                  $ref: '#/components/examples/OTP_REQUIRED'
                PHONE_REQUIRED:
                  $ref: '#/components/examples/PHONE_REQUIRED'
                SERVER_SIDE_VALIDATION_ERROR:
                  $ref: '#/components/examples/SERVER_SIDE_VALIDATION_ERROR'
                INVALID_PHONE_NUMBER:
                  $ref: '#/components/examples/INVALID_PHONE_NUMBER'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                PHONE_NO_LOGIN_NOT_ENABLED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/PHONE_NO_LOGIN_NOT_ENABLED'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                USER_ID_LOCKED_WITH_TIMEOUT:
                  $ref: '#/components/examples/USER_ID_LOCKED_WITH_TIMEOUT'
                LOGIN_IS_LOCKED_FOR_RECAPTCHA:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_RECAPTCHA'
                USER_ID_LOCKED:
                  $ref: '#/components/examples/USER_ID_LOCKED'
                LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                SECURITY_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_ANSWER_INVALID'
                WEAK_PASSWORD:
                  $ref: '#/components/examples/WEAK_PASSWORD'
                OTP_NOT_EXISTS:
                  $ref: '#/components/examples/OTP_NOT_EXISTS'
                OTP_INVALID:
                  $ref: '#/components/examples/OTP_INVALID'
                OTP_ALREADY_USED:
                  $ref: '#/components/examples/OTP_ALREADY_USED'
                OTP_EXPIRED:
                  $ref: '#/components/examples/OTP_EXPIRED'
                PASSWORD_IN_HISTORY:
                  $ref: '#/components/examples/PASSWORD_IN_HISTORY'
                BREACHED_PASSWORD:
                  $ref: '#/components/examples/BREACHED_PASSWORD'
                ACTIVE_SESSIONS_EXCEEDED:
                  $ref: '#/components/examples/ACTIVE_SESSIONS_EXCEEDED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                SMS_CONFIGURATION_NOT_EXISTS:
                  $ref: '#/components/examples/SMS_CONFIGURATION_NOT_EXISTS'
                SMS_SEND_LIMIT_REACHED:
                  $ref: '#/components/examples/SMS_SEND_LIMIT_REACHED'
                OTP_SEND_FAILED:
                  $ref: '#/components/examples/OTP_SEND_FAILED'
        '500':
          description: Internal Server Error - an unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
    post:
      summary: Retrieve Password reset OTP
      description: Requests an OTP for resetting the Password using the User's Phone number.
      operationId: RequestOTPForPasswordReset
      tags:
        - Password
      parameters:
        - $ref: '#/components/parameters/SmsTemplate'
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/HCaptchaResponse'
        - $ref: '#/components/parameters/QQCaptchaTicket'
        - $ref: '#/components/parameters/QQCaptchaRandstr'
        - $ref: '#/components/parameters/IsVoiceOtp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordPhoneModel'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/POST_BODY_INVALID'
                PHONE_REQUIRED:
                  $ref: '#/components/examples/PHONE_REQUIRED'
                INVALID_PHONE_NUMBER:
                  $ref: '#/components/examples/INVALID_PHONE_NUMBER'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                CAPTCHA_NOT_VALID:
                  $ref: '#/components/examples/CAPTCHA_NOT_VALID'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                RAAS_PROFILE_NOT_EXISTS:
                  $ref: '#/components/examples/RAAS_PROFILE_NOT_EXISTS'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                SMS_CONFIGURATION_NOT_EXISTS:
                  $ref: '#/components/examples/SMS_CONFIGURATION_NOT_EXISTS'
                VOICE_SMS_CONFIGURATION_NOT_ENABLED:
                  $ref: '#/components/examples/VOICE_SMS_CONFIGURATION_NOT_ENABLED'
                SMS_SEND_LIMIT_REACHED:
                  $ref: '#/components/examples/SMS_SEND_LIMIT_REACHED'
                OTP_SEND_FAILED:
                  $ref: '#/components/examples/OTP_SEND_FAILED'
                OTP_LIMIT_REACHED:
                  $ref: '#/components/examples/OTP_LIMIT_REACHED'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
  /identity/v2/auth/password/securityanswer:
    put:
      summary: Reset Password with security question
      description: Resets the Password using a security question and Email, Username, or Phone.
      operationId: ResetPasswordSecurityAnswer
      tags:
        - Password
      parameters:
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordBySecurityAnswer'
            examples:
              SecurityAnswerAndEmail:
                $ref: '#/components/examples/ResetPasswordBySecurityAnswerAndEmail'
              SecurityAnswerAndPhone:
                $ref: '#/components/examples/ResetPasswordBySecurityAnswerAndPhone'
              SecurityAnswerAndUserId:
                $ref: '#/components/examples/ResetPasswordBySecurityAnswerAndUserId'
              SecurityAnswerAndUsername:
                $ref: '#/components/examples/ResetPasswordBySecurityAnswerAndUsername'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                SECUREITY_ANSWER_REQUIRED_VALIDATION:
                  $ref: '#/components/examples/SECUREITY_ANSWER_REQUIRED_VALIDATION'
                PASSWORD_REQUIRED_VALIDATION:
                  $ref: '#/components/examples/PASSWORD_REQUIRED_VALIDATION'
                EMAIL_PHONE_USERNAME_PAYLOAD_REQUIRED:
                  $ref: '#/components/examples/EMAIL_PHONE_USERNAME_PAYLOAD_REQUIRED'
                USERNAME_REQUIRED:
                  $ref: '#/components/examples/USERNAME_REQUIRED_PARAM'
                EMAIL_ID_OR_USER_REQUIRED:
                  $ref: '#/components/examples/EMAIL_ID_OR_USER_REQUIRED'
                SERVER_SIDE_VALIDATION_ERROR:
                  $ref: '#/components/examples/SERVER_SIDE_VALIDATION_ERROR'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                WEAK_PASSWORD:
                  $ref: '#/components/examples/WEAK_PASSWORD'
                BREACHED_PASSWORD:
                  $ref: '#/components/examples/BREACHED_PASSWORD'
                PASSWORD_IN_HISTORY:
                  $ref: '#/components/examples/PASSWORD_IN_HISTORY'
                ACTIVE_SESSIONS_EXCEEDED:
                  $ref: '#/components/examples/ACTIVE_SESSIONS_EXCEEDED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                SECURITY_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_ANSWER_INVALID'
                SECURITY_QUESTION_NOT_SAVED_IN_PROFILE:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_SAVED_IN_PROFILE'
  /identity/v2/auth/register:
    post:
      summary: Registration by Email/Phone/Username via SOTT
      description: Registers a new User using Email, Phone, or Username via a Secure One Time Token (SOTT).
      operationId: UserRegistrationBySottEmailPhoneUserName
      tags:
        - Registration
      parameters:
        - $ref: '#/components/parameters/EmailTemplate'
        - $ref: '#/components/parameters/Sott'
        - $ref: '#/components/parameters/WelcomeEmailTemplate'
        - $ref: '#/components/parameters/VerificationUrl'
        - $ref: '#/components/parameters/SmsTemplate'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/X-LoginRadius-Sott'
        - $ref: '#/components/parameters/Options'
        - $ref: '#/components/parameters/InvitationToken'
        - $ref: '#/components/parameters/IsVoiceOtp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequestModel'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/POST_BODY_INVALID'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                PASSWORD_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_REQUIRED'
                SOTT_REQUIRED:
                  $ref: '#/components/examples/SOTT_REQUIRED'
                PHONE_REQUIRED_PARAM:
                  $ref: '#/components/examples/PHONE_REQUIRED_PARAM'
                PHONE_OR_EMAIL_REQUIRED_PARAM:
                  $ref: '#/components/examples/PHONE_OR_EMAIL_REQUIRED_PARAM'
                SERVER_SIDE_VALIDATION_ERROR:
                  $ref: '#/components/examples/SERVER_SIDE_VALIDATION_ERROR'
                EMAIL_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_REQUIRED_PARAM'
                USERNAME_REQUIRED_PARAM:
                  $ref: '#/components/examples/USERNAME_REQUIRED_PARAM'
                EMAIL_PHONE_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_PHONE_REQUIRED_PARAM'
                USERNAME_EMAIL_REQUIRED_PARAM:
                  $ref: '#/components/examples/USERNAME_EMAIL_REQUIRED_PARAM'
                EMAIL_TYPE_REQUIRED:
                  $ref: '#/components/examples/EMAIL_TYPE_REQUIRED'
                GENDER_INVALID:
                  $ref: '#/components/examples/GENDER_INVALID'
                BIRTH_DATE_INVALID:
                  $ref: '#/components/examples/BIRTH_DATE_INVALID'
                ADDRESS_TYPE_REQUIRED:
                  $ref: '#/components/examples/ADDRESS_TYPE_REQUIRED'
                PARAMETER_NOT_FORMATTED:
                  $ref: '#/components/examples/PARAMETER_NOT_FORMATTED'
                ADDRESS_TYPE_CAN_NOT_BE_SAME:
                  $ref: '#/components/examples/ADDRESS_TYPE_CAN_NOT_BE_SAME'
                EMAIL_ID_CAN_NOT_BE_SAME:
                  $ref: '#/components/examples/EMAIL_ID_CAN_NOT_BE_SAME'
                PRIMARY_EMAIL_CAN_BE_ONLY_ONE:
                  $ref: '#/components/examples/PRIMARY_EMAIL_CAN_BE_ONLY_ONE'
                INVITATION_TOKEN_INVALID:
                  $ref: '#/components/examples/INVITATION_TOKEN_INVALID'
                INVALID_PHONE_NUMBER:
                  $ref: '#/components/examples/INVALID_PHONE_NUMBER'
                EMAIL_VALUE_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_VALUE_REQUIRED_PARAM'
                INVALID_INVITATION_ID_ACCEPTED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_ACCEPTED'
                INVALID_INVITATION_ID_EXPIRED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_EXPIRED'
                INVALID_INVITATION_ID_REVOKED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_REVOKED'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                TRIAL_PLAN_USER_LIMIT_REACHED:
                  $ref: '#/components/examples/TRIAL_PLAN_USER_LIMIT_REACHED'
                SECURED_ONE_TIME_TOKEN_IS_INVALID:
                  $ref: '#/components/examples/SECURED_ONE_TIME_TOKEN_IS_INVALID'
                PHONE_NO_LOGIN_NOT_ENABLED:
                  $ref: '#/components/examples/PHONE_NO_LOGIN_NOT_ENABLED'
                SMS_CONFIGURATION_NOT_EXISTS:
                  $ref: '#/components/examples/SMS_CONFIGURATION_NOT_EXISTS'
                VOICE_SMS_CONFIGURATION_NOT_ENABLED:
                  $ref: '#/components/examples/VOICE_SMS_CONFIGURATION_NOT_ENABLED'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                TRADITIONAL_REGISTRATION_DISABLED:
                  $ref: '#/components/examples/TRADITIONAL_REGISTRATION_DISABLED'
                CUSTOM_FIELD_NOT_VALID:
                  $ref: '#/components/examples/CUSTOM_FIELD_NOT_VALID'
                EMAILID_ALREADY_REGISTERED:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED'
                EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT'
                DOMAIN_NO_VALID_MX_RECORD:
                  $ref: '#/components/examples/DOMAIN_NO_VALID_MX_RECORD'
                EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER'
                THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER'
                ACCOUNT_NOT_ALLOWED_TO_LOGIN:
                  $ref: '#/components/examples/ACCOUNT_NOT_ALLOWED_TO_LOGIN'
                PIN_REQUIRED:
                  $ref: '#/components/examples/PIN_REQUIRED'
                CONSENT_FORM_NOT_SUBMITTED:
                  $ref: '#/components/examples/CONSENT_FORM_NOT_SUBMITTED'
                CONSENT_FORM_VALIDATION_FAILED:
                  $ref: '#/components/examples/CONSENT_FORM_VALIDATION_FAILED'
                SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                PRIVACY_POLICY_NOT_ACCEPTED:
                  $ref: '#/components/examples/PRIVACY_POLICY_NOT_ACCEPTED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                AGE_UNDERAGE:
                  $ref: '#/components/examples/AGE_UNDERAGE'
                WEAK_PASSWORD:
                  $ref: '#/components/examples/WEAK_PASSWORD'
                BREACHED_PASSWORD:
                  $ref: '#/components/examples/BREACHED_PASSWORD'
                PHONE_NO_ALREADY_REGISTERED:
                  $ref: '#/components/examples/PHONE_NO_ALREADY_REGISTERED'
                USERNAME_ALREADY_REGISTERED:
                  $ref: '#/components/examples/USERNAME_ALREADY_REGISTERED'
                VERIFICATION_URL_IS_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_URL_IS_NOT_VALID'
        '404':
          description: 'Not Found: The server cannot find the requested resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
                ROLE_DOES_NOT_EXISTS:
                  $ref: '#/components/examples/ROLE_DOES_NOT_EXISTS_PARTNER'
        '500':
          description: Internal Server Error - an unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED_PARTNER'
    put:
      tags:
        - User
      summary: Resend verification Email
      operationId: ResendEmailVerification
      description: Resends the verification Email to the User to confirm their Email address.
      parameters:
        - $ref: '#/components/parameters/VerificationUrl'
        - $ref: '#/components/parameters/EmailTemplate'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailModel'
      responses:
        '200':
          description: User registration successful and verification Email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsPostedResponse'
        '400':
          description: Bad Request - Invalid parameters or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                EMAIL_REQUIRED:
                  $ref: '#/components/examples/EMAIL_ID_OR_USER_REQUIRED'
                EMAIL_OR_USERNAME_ONLY_ONE:
                  $ref: '#/components/examples/EMAIL_OR_USERNAME_ONLY_ONE'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: Status Forbidden- Insufficient permissions to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                EMAIL_ALLREADY_VERIFIED:
                  $ref: '#/components/examples/EMAIL_ALLREADY_VERIFIED'
                EMAILID_VERIFICATION_DISABLE:
                  $ref: '#/components/examples/EMAILID_VERIFICATION_DISABLE'
                EMAIL_SEND_LIMIT_REACHED:
                  $ref: '#/components/examples/EMAIL_SEND_LIMIT_REACHED'
                VERIFICATION_URL_IS_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_URL_IS_NOT_VALID'
                EMAIL_ID_NOT_EXIST_IN_PROFILE:
                  $ref: '#/components/examples/EMAIL_ID_NOT_EXIST_IN_PROFILE'
  /identity/v2/auth/register/captcha:
    post:
      tags:
        - Registration
      summary: Registration by Email/Phone/Username via Captcha
      description: Registers a new User using Email, Phone, or Username with Captcha verification.
      operationId: UserRegistrationByReCaptchaEmailPhoneUserName
      parameters:
        - $ref: '#/components/parameters/VerificationUrl'
        - $ref: '#/components/parameters/EmailTemplate'
        - $ref: '#/components/parameters/SmsTemplate'
        - $ref: '#/components/parameters/WelcomeEmailTemplate'
        - $ref: '#/components/parameters/Options'
        - $ref: '#/components/parameters/IsVoiceOtp'
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/QQRecaptchaTicket'
        - $ref: '#/components/parameters/QQRecaptchaRandstr'
        - $ref: '#/components/parameters/HCaptchaResponse'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/InvitationToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CaptchaModel'
                - $ref: '#/components/schemas/ProfileRequestModel'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/POST_BODY_INVALID'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                PASSWORD_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_REQUIRED'
                PHONE_REQUIRED_PARAM:
                  $ref: '#/components/examples/PHONE_REQUIRED_PARAM'
                PHONE_OR_EMAIL_REQUIRED_PARAM:
                  $ref: '#/components/examples/PHONE_OR_EMAIL_REQUIRED_PARAM'
                SERVER_SIDE_VALIDATION_ERROR:
                  $ref: '#/components/examples/SERVER_SIDE_VALIDATION_ERROR'
                EMAIL_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_REQUIRED_PARAM'
                USERNAME_REQUIRED_PARAM:
                  $ref: '#/components/examples/USERNAME_REQUIRED_PARAM'
                EMAIL_PHONE_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_PHONE_REQUIRED_PARAM'
                USERNAME_EMAIL_REQUIRED_PARAM:
                  $ref: '#/components/examples/USERNAME_EMAIL_REQUIRED_PARAM'
                EMAIL_TYPE_REQUIRED:
                  $ref: '#/components/examples/EMAIL_TYPE_REQUIRED'
                GENDER_INVALID:
                  $ref: '#/components/examples/GENDER_INVALID'
                BIRTH_DATE_INVALID:
                  $ref: '#/components/examples/BIRTH_DATE_INVALID'
                ADDRESS_TYPE_REQUIRED:
                  $ref: '#/components/examples/ADDRESS_TYPE_REQUIRED'
                PARAMETER_NOT_FORMATTED:
                  $ref: '#/components/examples/PARAMETER_NOT_FORMATTED'
                ADDRESS_TYPE_CAN_NOT_BE_SAME:
                  $ref: '#/components/examples/ADDRESS_TYPE_CAN_NOT_BE_SAME'
                EMAIL_ID_CAN_NOT_BE_SAME:
                  $ref: '#/components/examples/EMAIL_ID_CAN_NOT_BE_SAME'
                PRIMARY_EMAIL_CAN_BE_ONLY_ONE:
                  $ref: '#/components/examples/PRIMARY_EMAIL_CAN_BE_ONLY_ONE'
                INVITATION_TOKEN_INVALID:
                  $ref: '#/components/examples/INVITATION_TOKEN_INVALID'
                INVALID_PHONE_NUMBER:
                  $ref: '#/components/examples/INVALID_PHONE_NUMBER'
                EMAIL_VALUE_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_VALUE_REQUIRED_PARAM'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                TRIAL_PLAN_USER_LIMIT_REACHED:
                  $ref: '#/components/examples/TRIAL_PLAN_USER_LIMIT_REACHED'
                CAPTCHA_NOT_VALID:
                  $ref: '#/components/examples/CAPTCHA_NOT_VALID'
                PHONE_NO_LOGIN_NOT_ENABLED:
                  $ref: '#/components/examples/PHONE_NO_LOGIN_NOT_ENABLED'
                SMS_CONFIGURATION_NOT_EXISTS:
                  $ref: '#/components/examples/SMS_CONFIGURATION_NOT_EXISTS'
                VOICE_SMS_CONFIGURATION_NOT_ENABLED:
                  $ref: '#/components/examples/VOICE_SMS_CONFIGURATION_NOT_ENABLED'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                INVALID_INVITATION_ID_ACCEPTED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_ACCEPTED'
                INVALID_INVITATION_ID_EXPIRED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_EXPIRED'
                INVALID_INVITATION_ID_REVOKED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_REVOKED'
                TRADITIONAL_REGISTRATION_DISABLED:
                  $ref: '#/components/examples/TRADITIONAL_REGISTRATION_DISABLED'
                CUSTOM_FIELD_NOT_VALID:
                  $ref: '#/components/examples/CUSTOM_FIELD_NOT_VALID'
                EMAILID_ALREADY_REGISTERED:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED'
                EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT'
                DOMAIN_NO_VALID_MX_RECORD:
                  $ref: '#/components/examples/DOMAIN_NO_VALID_MX_RECORD'
                EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER'
                THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER'
                ACCOUNT_NOT_ALLOWED_TO_LOGIN:
                  $ref: '#/components/examples/ACCOUNT_NOT_ALLOWED_TO_LOGIN'
                PIN_REQUIRED:
                  $ref: '#/components/examples/PIN_REQUIRED'
                CONSENT_FORM_NOT_SUBMITTED:
                  $ref: '#/components/examples/CONSENT_FORM_NOT_SUBMITTED'
                CONSENT_FORM_VALIDATION_FAILED:
                  $ref: '#/components/examples/CONSENT_FORM_VALIDATION_FAILED'
                SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                PRIVACY_POLICY_NOT_ACCEPTED:
                  $ref: '#/components/examples/PRIVACY_POLICY_NOT_ACCEPTED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                AGE_UNDERAGE:
                  $ref: '#/components/examples/AGE_UNDERAGE'
                WEAK_PASSWORD:
                  $ref: '#/components/examples/WEAK_PASSWORD'
                BREACHED_PASSWORD:
                  $ref: '#/components/examples/BREACHED_PASSWORD'
                PHONE_NO_ALREADY_REGISTERED:
                  $ref: '#/components/examples/PHONE_NO_ALREADY_REGISTERED'
                USERNAME_ALREADY_REGISTERED:
                  $ref: '#/components/examples/USERNAME_ALREADY_REGISTERED'
                VERIFICATION_URL_IS_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_URL_IS_NOT_VALID'
        '404':
          description: 'Not Found: The server cannot find the requested resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
                ROLE_DOES_NOT_EXISTS:
                  $ref: '#/components/examples/ROLE_DOES_NOT_EXISTS_PARTNER'
        '500':
          description: Internal Server Error - an unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED_PARTNER'
  /identity/v2/auth/register/passkey/begin:
    get:
      tags:
        - Registration
      summary: Initiate Registration with Passkey
      operationId: beginPasskeyRegistration
      description: Begins the registration process using a Passkey.
      parameters:
        - $ref: '#/components/parameters/PasskeyIdentifier'
      responses:
        '200':
          description: Successfully initiated credential registration
          content:
            application/json:
              schema:
                type: object
                description: Response object returned to initiate Passkey registration (WebAuthn)
                properties:
                  RegisterBeginCredential:
                    type: object
                    description: OpenAPI schema for protocol.PublicKeyCredentialCreationOptions
                    properties:
                      publicKey:
                        $ref: '#/components/schemas/PublicKeyCredentialCreationOptions'
        '400':
          description: Bad Request - the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
        '403':
          description: Forbidden - the client is not allowed to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                TRIAL_PLAN_USER_LIMIT_REACHED:
                  $ref: '#/components/examples/TRIAL_PLAN_USER_LIMIT_REACHED'
                EMAILID_ALREADY_REGISTERED:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED'
                EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT'
                PASSKEY_NOT_ENABLED_IN_APP:
                  $ref: '#/components/examples/PASSKEY_NOT_ENABLED_IN_APP'
                DOMAIN_NO_VALID_MX_RECORD:
                  $ref: '#/components/examples/DOMAIN_NO_VALID_MX_RECORD'
                EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER'
                THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                PASSKEY_CONFIG_INVALID:
                  $ref: '#/components/examples/PASSKEY_CONFIG_INVALID'
                PASSKEY_VERIFICATION_FAILED:
                  $ref: '#/components/examples/PASSKEY_VERIFICATION_FAILED'
  /identity/v2/auth/register/passkey/finish:
    post:
      tags:
        - Registration
      summary: Complete Registration with Passkey
      operationId: finishPasskeyRegistration
      description: Completes the registration process using a Passkey.
      parameters:
        - $ref: '#/components/parameters/VerificationUrl'
        - $ref: '#/components/parameters/EmailTemplate'
        - $ref: '#/components/parameters/WelcomeEmailTemplate'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Options'
        - $ref: '#/components/parameters/InvitationToken'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyRegisterFinish'
      responses:
        '200':
          description: Successfully finish credential registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '400':
          description: Bad Request - the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                EMAIL_VALUE_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_VALUE_REQUIRED_PARAM'
                EMAIL_TYPE_REQUIRED_PARAM:
                  $ref: '#/components/examples/EMAIL_TYPE_REQUIRED_PARAM'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/POST_BODY_INVALID'
                PASS_KEY_CREDENTIAL_REQUIRED:
                  $ref: '#/components/examples/PASS_KEY_CREDENTIAL_REQUIRED'
                GENDER_INVALID:
                  $ref: '#/components/examples/GENDER_INVALID'
                BIRTH_DATE_INVALID:
                  $ref: '#/components/examples/BIRTH_DATE_INVALID'
                ADDRESS_TYPE_REQUIRED:
                  $ref: '#/components/examples/ADDRESS_TYPE_REQUIRED'
                PARAMETER_NOT_FORMATTED:
                  $ref: '#/components/examples/PARAMETER_NOT_FORMATTED'
                ADDRESS_TYPE_CAN_NOT_BE_SAME:
                  $ref: '#/components/examples/ADDRESS_TYPE_CAN_NOT_BE_SAME'
                EMAIL_ID_CAN_NOT_BE_SAME:
                  $ref: '#/components/examples/EMAIL_ID_CAN_NOT_BE_SAME'
                PRIMARY_EMAIL_CAN_BE_ONLY_ONE:
                  $ref: '#/components/examples/PRIMARY_EMAIL_CAN_BE_ONLY_ONE'
                INVITATION_TOKEN_INVALID:
                  $ref: '#/components/examples/INVITATION_TOKEN_INVALID'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: Forbidden - the client is not allowed to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                TRIAL_PLAN_USER_LIMIT_REACHED:
                  $ref: '#/components/examples/TRIAL_PLAN_USER_LIMIT_REACHED'
                PASSKEY_NOT_ENABLED_IN_APP:
                  $ref: '#/components/examples/PASSKEY_NOT_ENABLED_IN_APP'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                TRADITIONAL_REGISTRATION_DISABLED:
                  $ref: '#/components/examples/TRADITIONAL_REGISTRATION_DISABLED'
                CUSTOM_FIELD_NOT_VALID:
                  $ref: '#/components/examples/CUSTOM_FIELD_NOT_VALID'
                EMAILID_ALREADY_REGISTERED:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED'
                EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED_WITH_SOCIAL_ACCOUNT'
                DOMAIN_NO_VALID_MX_RECORD:
                  $ref: '#/components/examples/DOMAIN_NO_VALID_MX_RECORD'
                EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER'
                THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER'
                PASSKEY_CONFIG_INVALID:
                  $ref: '#/components/examples/PASSKEY_CONFIG_INVALID'
                PASS_KEY_CREDENTIAL_REQUIRED:
                  $ref: '#/components/examples/PASS_KEY_CREDENTIAL_REQUIRED'
                PASSKEY_VERIFICATION_FAILED:
                  $ref: '#/components/examples/PASSKEY_VERIFICATION_FAILED'
                ACCOUNT_NOT_ALLOWED_TO_LOGIN:
                  $ref: '#/components/examples/ACCOUNT_NOT_ALLOWED_TO_LOGIN'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                PIN_REQUIRED:
                  $ref: '#/components/examples/PIN_REQUIRED'
                CONSENT_FORM_NOT_SUBMITTED:
                  $ref: '#/components/examples/CONSENT_FORM_NOT_SUBMITTED'
                CONSENT_FORM_VALIDATION_FAILED:
                  $ref: '#/components/examples/CONSENT_FORM_VALIDATION_FAILED'
                SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_NOT_ENABLED'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                PRIVACY_POLICY_NOT_ACCEPTED:
                  $ref: '#/components/examples/PRIVACY_POLICY_NOT_ACCEPTED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                AGE_UNDERAGE:
                  $ref: '#/components/examples/AGE_UNDERAGE'
                INVALID_INVITATION_ID_ACCEPTED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_ACCEPTED'
                INVALID_INVITATION_ID_EXPIRED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_EXPIRED'
                INVALID_INVITATION_ID_REVOKED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_REVOKED'
                VERIFICATION_URL_IS_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_URL_IS_NOT_VALID'
        '404':
          description: 'Not Found: The server cannot find the requested resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
                ROLE_DOES_NOT_EXISTS:
                  $ref: '#/components/examples/ROLE_DOES_NOT_EXISTS_PARTNER'
        '500':
          description: Internal Server Error - an unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED_PARTNER'
  /identity/v2/auth/login:
    post:
      summary: Login with credentials
      description: Authenticates a User using Email, Username, or Phone, providing an Access Token for further API interactions.
      operationId: EmailByLoginUserNamePhone
      tags:
        - Login
      parameters:
        - $ref: '#/components/parameters/EmailTemplate'
        - $ref: '#/components/parameters/LoginUrl'
        - $ref: '#/components/parameters/VerificationUrl'
        - $ref: '#/components/parameters/SmsTemplate'
        - $ref: '#/components/parameters/IsVoiceOtp'
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/BreachedPasswordEmailTemplate'
        - $ref: '#/components/parameters/BreachedPasswordSmsTemplate'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Options'
        - $ref: '#/components/parameters/RbaBrowserEmailTemplate'
        - $ref: '#/components/parameters/RbaOneClickEmailTemplate'
        - $ref: '#/components/parameters/RbaCityEmailTemplate'
        - $ref: '#/components/parameters/RbaCountryEmailTemplate'
        - $ref: '#/components/parameters/RbaIPEmailTemplate'
        - $ref: '#/components/parameters/RbaDeviceEmailTemplate'
        - $ref: '#/components/parameters/RbaOtpSMSTemplate'
        - $ref: '#/components/parameters/RbaBrowserSMSTemplate'
        - $ref: '#/components/parameters/RbaCitySMSTemplate'
        - $ref: '#/components/parameters/RbaCountrySMSTemplate'
        - $ref: '#/components/parameters/RbaIPSMSTemplate'
        - $ref: '#/components/parameters/RbaDeviceSMSTemplate'
        - $ref: '#/components/parameters/InvitationToken'
        - $ref: '#/components/parameters/EmailTemplate2FA'
        - $ref: '#/components/parameters/DuoRedirectUri'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/LoginByEmailRequest'
                - $ref: '#/components/schemas/LoginByUsernameRequest'
                - $ref: '#/components/schemas/LoginByPhone'
            examples:
              LoginByEmailRequest:
                $ref: '#/components/examples/LoginByEmailRequest'
              LoginByUserNameRequest:
                $ref: '#/components/examples/LoginByUserNameRequest'
              LoginByPhoneRequest:
                $ref: '#/components/examples/LoginByPhoneRequest'
      responses:
        '200':
          description: 'OK: The request was successful.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthResponseOptionalMfa'
                  - $ref: '#/components/schemas/AuthResponseRequiredMfa'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/POST_BODY_INVALID'
                PASSWORD_REQUIRED:
                  $ref: '#/components/examples/PASSWORD_REQUIRED'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                INVITATION_TOKEN_INVALID:
                  $ref: '#/components/examples/INVITATION_TOKEN_INVALID'
                INVALID_PHONE_NUMBER:
                  $ref: '#/components/examples/INVALID_PHONE_NUMBER'
                DUO_REDIRECT_URI_REQUIRED:
                  $ref: '#/components/examples/DUO_REDIRECT_URI_REQUIRED'
                USERNAME_REQUIRED_PARAM:
                  $ref: '#/components/examples/USERNAME_REQUIRED_PARAM'
                USERNAME_PASSWORD_REQUIRED:
                  $ref: '#/components/examples/USERNAME_PASSWORD_REQUIRED'
                PHONE_OR_EMAIL_OR_USER_REQUIRED_PARAM:
                  $ref: '#/components/examples/PHONE_OR_EMAIL_OR_USER_REQUIRED_PARAM'
                PHONE_OR_EMAIL_OR_USER_REQUIRED_PASSWORD_REQUIRED_PARAM:
                  $ref: '#/components/examples/PHONE_OR_EMAIL_OR_USER_REQUIRED_PASSWORD_REQUIRED_PARAM'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                USERNAME_OR_PASSWORD_WRONG:
                  $ref: '#/components/examples/USERNAME_OR_PASSWORD_WRONG'
                USERNAME_OR_PASSWORD_WRONG_FOR_BLOCK_LOCKOUT:
                  $ref: '#/components/examples/USERNAME_OR_PASSWORD_WRONG_FOR_BLOCK_LOCKOUT'
                USERNAME_OR_PASSWORD_WRONG_FOR_SUSPEND_LOCKOUT:
                  $ref: '#/components/examples/USERNAME_OR_PASSWORD_WRONG_FOR_SUSPEND_LOCKOUT'
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The client does not have permission to access the resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                USER_NAME_AUTHENTICATION_ENABLED:
                  $ref: '#/components/examples/USER_NAME_AUTHENTICATION_ENABLED'
                LOGIN_WITH_PASSWORD_NOT_ENABLED:
                  $ref: '#/components/examples/LOGIN_WITH_PASSWORD_NOT_ENABLED'
                CAPTCHA_NOT_VALID:
                  $ref: '#/components/examples/CAPTCHA_NOT_VALID'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                APP_DOESNT_HAVE_PERMISSION_TO_ACCESS_THIS_ENDPOINT:
                  $ref: '#/components/examples/APP_DOESNT_HAVE_PERMISSION_TO_ACCESS_THIS_ENDPOINT'
                PHONE_NO_LOGIN_NOT_ENABLED:
                  $ref: '#/components/examples/PHONE_NO_LOGIN_NOT_ENABLED'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                LOGIN_DISABLED:
                  $ref: '#/components/examples/LOGIN_DISABLED'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                ACCOUNT_NOT_ALLOWED_TO_LOGIN:
                  $ref: '#/components/examples/ACCOUNT_NOT_ALLOWED_TO_LOGIN'
                LOGIN_IS_LOCKED_FOR_RECAPTCHA:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_RECAPTCHA'
                USER_ID_LOCKED_WITH_TIMEOUT:
                  $ref: '#/components/examples/USER_ID_LOCKED_WITH_TIMEOUT'
                USER_ID_LOCKED:
                  $ref: '#/components/examples/USER_ID_LOCKED'
                LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION:
                  $ref: '#/components/examples/LOGIN_IS_LOCKED_FOR_SECURITY_QUESTION'
                SECURITY_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_ANSWER_INVALID'
                SECURITY_QUESTION_NOT_VALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_NOT_VALID'
                SECURITY_QUESTION_OR_ANSWER_INVALID:
                  $ref: '#/components/examples/SECURITY_QUESTION_OR_ANSWER_INVALID'
                ACTIVE_SESSIONS_EXCEEDED:
                  $ref: '#/components/examples/ACTIVE_SESSIONS_EXCEEDED'
                BREACHED_PASSWORD_LOGIN:
                  $ref: '#/components/examples/BREACHED_PASSWORD_LOGIN'
                INVALID_INVITATION_ID_ACCEPTED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_ACCEPTED'
                INVALID_INVITATION_ID_EXPIRED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_EXPIRED'
                INVALID_INVITATION_ID_REVOKED:
                  $ref: '#/components/examples/INVALID_INVITATION_ID_REVOKED'
                EMAIL_NOT_VERIFIED:
                  $ref: '#/components/examples/EMAIL_NOT_VERIFIED'
                PHONE_NOT_VERIFIED:
                  $ref: '#/components/examples/PHONE_NOT_VERIFIED'
                EMAIL_OR_PHONE_NUMBER_REQUIRED_VERIFIED:
                  $ref: '#/components/examples/EMAIL_OR_PHONE_NUMBER_REQUIRED_VERIFIED'
                EMAIL_SEND_LIMIT_REACHED:
                  $ref: '#/components/examples/EMAIL_SEND_LIMIT_REACHED'
                SMS_CONFIGURATION_NOT_EXISTS:
                  $ref: '#/components/examples/SMS_CONFIGURATION_NOT_EXISTS'
                VOICE_SMS_CONFIGURATION_NOT_ENABLED:
                  $ref: '#/components/examples/VOICE_SMS_CONFIGURATION_NOT_ENABLED'
                SMS_SEND_LIMIT_REACHED:
                  $ref: '#/components/examples/SMS_SEND_LIMIT_REACHED'
                OTP_SEND_FAILED:
                  $ref: '#/components/examples/OTP_SEND_FAILED'
                RBA_ACCOUNT_IS_BLOCKED_BY_BROWSER_RISK:
                  $ref: '#/components/examples/RBA_ACCOUNT_IS_BLOCKED_BY_BROWSER_RISK'
                RBA_ACCOUNT_IS_BLOCKED_BY_CITY_RISK:
                  $ref: '#/components/examples/RBA_ACCOUNT_IS_BLOCKED_BY_CITY_RISK'
                RBA_ACCOUNT_IS_BLOCKED_BY_COUNTRY_RISK:
                  $ref: '#/components/examples/RBA_ACCOUNT_IS_BLOCKED_BY_COUNTRY_RISK'
                RBA_ACCOUNT_IS_BLOCKED_BY_DEVICE_RISK:
                  $ref: '#/components/examples/RBA_ACCOUNT_IS_BLOCKED_BY_DEVICE_RISK'
                RBA_ACCOUNT_IS_BLOCKED_BY_IP_RISK:
                  $ref: '#/components/examples/RBA_ACCOUNT_IS_BLOCKED_BY_IP_RISK'
                RBA_EMAIL_VERIFICATION_BY_BROWSER_RISK:
                  $ref: '#/components/examples/RBA_EMAIL_VERIFICATION_BY_BROWSER_RISK'
                RBA_EMAIL_VERIFICATION_BY_CITY_RISK:
                  $ref: '#/components/examples/RBA_EMAIL_VERIFICATION_BY_CITY_RISK'
                RBA_EMAIL_VERIFICATION_BY_COUNTRY_RISK:
                  $ref: '#/components/examples/RBA_EMAIL_VERIFICATION_BY_COUNTRY_RISK'
                RBA_EMAIL_VERIFICATION_BY_DEVICE_RISK:
                  $ref: '#/components/examples/RBA_EMAIL_VERIFICATION_BY_DEVICE_RISK'
                RBA_EMAIL_VERIFICATION_BY_IP_RISK:
                  $ref: '#/components/examples/RBA_EMAIL_VERIFICATION_BY_IP_RISK'
                RBA_SECURITY_ANSWER_VERIFICATION_BY_BROWSER_RISK:
                  $ref: '#/components/examples/RBA_SECURITY_ANSWER_VERIFICATION_BY_BROWSER_RISK'
                RBA_SECURITY_ANSWER_VERIFICATION_BY_CITY_RISK:
                  $ref: '#/components/examples/RBA_SECURITY_ANSWER_VERIFICATION_BY_CITY_RISK'
                RBA_SECURITY_ANSWER_VERIFICATION_BY_COUNTRY_RISK:
                  $ref: '#/components/examples/RBA_SECURITY_ANSWER_VERIFICATION_BY_COUNTRY_RISK'
                RBA_SECURITY_ANSWER_VERIFICATION_BY_DEVICE_RISK:
                  $ref: '#/components/examples/RBA_SECURITY_ANSWER_VERIFICATION_BY_DEVICE_RISK'
                RBA_SMS_VERIFICATION_BY_BROWSER_RISK:
                  $ref: '#/components/examples/RBA_SMS_VERIFICATION_BY_BROWSER_RISK'
                RBA_SMS_VERIFICATION_BY_CITY_RISK:
                  $ref: '#/components/examples/RBA_SMS_VERIFICATION_BY_CITY_RISK'
                RBA_SMS_VERIFICATION_BY_COUNTRY_RISK:
                  $ref: '#/components/examples/RBA_SMS_VERIFICATION_BY_COUNTRY_RISK'
                RBA_SMS_VERIFICATION_BY_DEVICE_RISK:
                  $ref: '#/components/examples/RBA_SMS_VERIFICATION_BY_DEVICE_RISK'
                RBA_SMS_VERIFICATION_BY_IP_RISK:
                  $ref: '#/components/examples/RBA_SMS_VERIFICATION_BY_IP_RISK'
                PIN_IS_REQUIRED:
                  $ref: '#/components/examples/PIN_IS_REQUIRED'
                CONSENT_FORM_VALIDATION_FAILED:
                  $ref: '#/components/examples/CONSENT_FORM_VALIDATION_FAILED'
                CONSENT_FORM_NOT_SUBMITTED:
                  $ref: '#/components/examples/CONSENT_FORM_NOT_SUBMITTED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                TWO_FACTOR_AUTHENTICATION_NOT_CONFIGURED_OLD:
                  $ref: '#/components/examples/TWO_FACTOR_AUTHENTICATION_NOT_CONFIGURED_OLD'
                SOMETHING_GOING_WRONG:
                  $ref: '#/components/examples/SOMETHING_GOING_WRONG'
                TWO_FACTOR_AUTHENTICATION_PUSH_CONFIG_INVALID:
                  $ref: '#/components/examples/TWO_FACTOR_AUTHENTICATION_PUSH_CONFIG_INVALID'
                TWO_FACTOR_AUTHENTICATION_DUO_AUTH_CONFIG_INVALID:
                  $ref: '#/components/examples/TWO_FACTOR_AUTHENTICATION_DUO_AUTH_CONFIG_INVALID'
                EMAIL_ID_NOT_EXISTS:
                  $ref: '#/components/examples/EMAIL_ID_NOT_EXISTS'
                DUO_AUTHENTICATOR_REDIRECT_URI_INVALID:
                  $ref: '#/components/examples/DUO_AUTHENTICATOR_REDIRECT_URI_INVALID'
                DUO_AUTHENTICATOR_REDIRECT_URI_NOT_WHITELISTED:
                  $ref: '#/components/examples/DUO_AUTHENTICATOR_REDIRECT_URI_NOT_WHITELISTED'
                VERIFICATION_URL_IS_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_URL_IS_NOT_VALID'
        '404':
          description: 'Not Found: The server cannot find the requested resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
                ROLE_DOES_NOT_EXISTS:
                  $ref: '#/components/examples/ROLE_DOES_NOT_EXISTS_PARTNER'
        '500':
          description: Internal Server Error - an unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED_PARTNER'
  /identity/v2/auth/email:
    post:
      summary: Add Email
      description: Adds an Email to a User's account, either as a primary or additional Email.
      operationId: AddEmail
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/AccessToken'
        - $ref: '#/components/parameters/EmailTemplate'
        - $ref: '#/components/parameters/VerificationUrl'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEmailModel'
      responses:
        '200':
          description: Status OK:The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsPostedResponse'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                OAUTH_TOKEN_CONFIG_NOT_FOUND:
                  $ref: '#/components/examples/OAUTH_TOKEN_CONFIG_NOT_FOUND'
                ACCESS_TOKEN_REQUIRED:
                  $ref: '#/components/examples/ACCESS_TOKEN_REQUIRED'
                POST_BODY_INVALID:
                  $ref: '#/components/examples/POST_BODY_INVALID'
                PARAMETER_NOT_FORMATTED:
                  $ref: '#/components/examples/PARAMETER_NOT_FORMATTED'
                EMAIL_REQUIRED:
                  $ref: '#/components/examples/EMAIL_REQUIRED'
                EMAIL_TYPE_CAN_NOT_NULL:
                  $ref: '#/components/examples/EMAIL_TYPE_CAN_NOT_NULL'
                SERVER_SIDE_VALIDATION_ERROR:
                  $ref: '#/components/examples/SERVER_SIDE_VALIDATION_ERROR'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                API_SECRET_NOT_VALID:
                  $ref: '#/components/examples/API_SECRET_NOT_VALID'
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The server understood the request, but refuses to authorize it.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                ACCESS_TOKEN_EXPIRED:
                  $ref: '#/components/examples/ACCESS_TOKEN_EXPIRED'
                ACCESS_TOKEN_NOT_VALID:
                  $ref: '#/components/examples/ACCESS_TOKEN_NOT_VALID'
                DOMAIN_NO_VALID_MX_RECORD:
                  $ref: '#/components/examples/DOMAIN_NO_VALID_MX_RECORD'
                EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/EMAIL_DOMAIN_NOT_ALLOWED_TO_REGISTER'
                THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER:
                  $ref: '#/components/examples/THIS_EMAIL_ID_IS_NOT_ALLOWED_TO_REGISTER'
                ACCOUNT_ID_IS_INVALID:
                  $ref: '#/components/examples/ACCOUNT_ID_IS_INVALID'
                CANNOT_ADD_EMAIL_ADDRESS:
                  $ref: '#/components/examples/CANNOT_ADD_EMAIL_ADDRESS'
                EMAILID_ALREADY_REGISTERED:
                  $ref: '#/components/examples/EMAILID_ALREADY_REGISTERED'
                USER_ID_BLOCKED:
                  $ref: '#/components/examples/USER_ID_BLOCKED'
                USER_NOT_EXISTS:
                  $ref: '#/components/examples/USER_NOT_EXISTS'
                EMAIL_SEND_LIMIT_REACHED:
                  $ref: '#/components/examples/EMAIL_SEND_LIMIT_REACHED'
                PRIVACY_POLICY_MISMATCHED:
                  $ref: '#/components/examples/PRIVACY_POLICY_MISMATCHED'
                TRIAL_PLAN_EXPIRED:
                  $ref: '#/components/examples/TRIAL_PLAN_EXPIRED'
                VERIFICATION_URL_IS_NOT_VALID:
                  $ref: '#/components/examples/VERIFICATION_URL_IS_NOT_VALID'
    put:
      tags:
        - User
      operationId: UpdateEmail
      summary: Verify Email
      description: Verifies the User's Email when OTP Email Verification is enabled, requiring LoginRadius activation.
      parameters:
        - $ref: '#/components/parameters/Url'
        - $ref: '#/components/parameters/WelcomeEmailTemplate'
        - $ref: '#/components/parameters/PreventWebhook'
        - $ref: '#/components/parameters/XPreventWebhook'
        - $ref: '#/components/parameters/GoogleRecaptchaResponse'
        - $ref: '#/components/parameters/GoogleRecaptchaResponseAlt'
        - $ref: '#/components/parameters/QQRecaptchaTicket'
        - $ref: '#/components/parameters/QQRecaptchaRandstr'
        - $ref: '#/components/parameters/HCaptchaResponse'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/VerifyEmailModel'
                - $ref: '#/components/schemas/CaptchaModel'
      responses:
        '200':
          description: Email existence check response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthResponse'
                  - $ref: '#/components/schemas/AuthResponseEmailVerification'
                  - $ref: '#/components/schemas/AuthResponseForgotReset'
        '400':
          description: 'Status Bad Request: The request could not be understood by the server due to malformed syntax.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_REQUIRED:
                  $ref: '#/components/examples/API_KEY_REQUIRED'
                API_KEY_NOT_WELL_FORMATTED:
                  $ref: '#/components/examples/API_KEY_NOT_WELL_FORMATTED'
                PARAMETER_NOT_FORMATTED:
                  $ref: '#/components/examples/PARAMETER_NOT_FORMATTED'
                EMAIL_UUID_OTP_REQUIRED:
                  $ref: '#/components/examples/EMAIL_UUID_OTP_REQUIRED'
                EMAIL_UUID_REQUIRED:
                  $ref: '#/components/examples/EMAIL_UUID_REQUIRED'
                EMAIL_USERNAME_UUID_OTP_REQUIRED:
                  $ref: '#/components/examples/EMAIL_USERNAME_UUID_OTP_REQUIRED'
                EMAIL_USERNAME_UUID_REQUIRED:
                  $ref: '#/components/examples/EMAIL_USERNAME_UUID_REQUIRED'
                EMAIL_OR_USERNAME_ONLY_ONE:
                  $ref: '#/components/examples/EMAIL_OR_USERNAME_ONLY_ONE'
                OTP_REQUIRED:
                  $ref: '#/components/examples/OTP_REQUIRED'
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                EMAILID_ID_FORMAT_NOT_VALID:
                  $ref: '#/components/examples/EMAILID_ID_FORMAT_NOT_VALID'
                DANGEROUS_REQUEST:
                  $ref: '#/components/examples/DANGEROUS_REQUEST'
                CONTENT_TYPE_INVALID:
                  $ref: '#/components/examples/CONTENT_TYPE_INVALID'
        '401':
          description: 'Status Unauthorized: The request requires User authentication.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                API_SECRET_NOT_VALID:
                  $ref: '#/components/examples/API_SECRET_NOT_VALID'
                GENERIC_AUTH_ERROR:
                  $ref: '#/components/examples/GENERIC_AUTH_ERROR'
        '403':
          description: 'Status Forbidden: The server understood the request, but refuses to authorize it.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                API_KEY_NOT_VALID:
                  $ref: '#/components/examples/API_KEY_NOT_VALID'
                INVALID_UUID:
                  $ref: '#/components/examples/INVALID_UUID'
                EMAIL_OTP_NOT_EXISTS:
                  $ref: '#/components/examples/EMAIL_OTP_NOT_EXISTS'
                EMAIL_OTP_ALREADY_USED:
                  $ref: '#/components/examples/EMAIL_OTP_ALREADY_USED'
                EMAIL_OTP_EXPIRED:
                  $ref: '#/components/examples/EMAIL_OTP_EXPIRED'
                RAAS_PROFILE_NOT_EXISTS:
[...]
