ul.tabs{padding: 7px 0;font-size: 0;margin:0;list-style-type: none;text-align: left;}
ul.tabs li{display: inline;margin: 0;margin-right:3px;}
ul.tabs li a{font: normal 12px Verdana;text-decoration: none;position: relative;padding: 7px 16px;border: 1px solid #CCC;border-bottom-color:#B7B7B7;color: #000;background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;border-radius: 3px 3px 0 0;outline:none;}
ul.tabs li a:visited{color: #000;}
ul.tabs li a:hover{border: 1px solid #B7B7B7;background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;}
ul.tabs li.selected a, ul.tabs li.selected a:hover{position: relative;top: 0px;font-weight:bold;background: white;border: 1px solid #B7B7B7;border-bottom-color: white;}
ul.tabs li.selected a:hover{text-decoration: none;}
div.tabcontents{border: 1px solid #B7B7B7; padding: 30px;background-color:#FFF;border-radius: 0 3px 3px 3px;}
table.gridtable {font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;width:100%;}
table.gridtable th {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;vertical-align: top;}
table.gridtable td {border-width: 1px;padding:8px;border-style:solid;border-color: #666666;background-color: #ffffff;word-break: break-all;}
iframe {width:200px !important;height:126px!important;}
h2{margin: 0;margin-bottom: 20px;}
.facetextarea{border: 1px solid #ccc;margin-bottom: 20px;height: 88px;width: 230px;}
.faclable{ width:100px;float:left;}
.factextbox{width: 230px;height: 27px;border: 1px solid #ccc;margin-bottom: 20px;padding: 2px;}
.facesend{margin-left:100px;width: 100px;height: 33px;background:#2086ce;border: none;cursor: pointer;color: #fff;}
.twilist{width: 230px;height: 27px;border: 1px solid #ccc;margin-bottom: 20px;padding: 2px;}
#Error {background-image: url("../images/error.png");background-repeat:no-repeat;background-position:left;color:#FF0000;height:20px;padding: 4px 2px 2px 30px;  background-color: #FEF5F1;border: 1px solid #ED541D;}
#loading {background-image: url("../images/loading.gif");background-repeat:no-repeat;padding: 0px 2px 0px 30px;}
#Success {background-image: url("../images/ok.png");background-repeat:no-repeat;background-position:left;color:#669933;height:20px;padding: 4px 2px 2px 30px;  background-color: #EAFFDC;border: 1px solid #60CF4E;}