body {
    background: #eee !important;
}
.loginradius-validation-message{
    color:red !important;
}
#left {
    float:left;
    width:100px;
}
.linked-account img {
    border-radius: 50%;
}
.linked-account h5{
    display: inline-block;
    color : #737272;
}
.lr-user-reg-container .messageinfo div {
    padding: 20px 0;
}
.messageinfo.success {
    font-weight: bolder;
    color: #0c0202;
    border-left: 6px solid #22da00;
    background-color: #f7f7f7;
    margin-bottom: 11px;
    margin-top: 5px;
    padding-left: 10px;
}
.messageinfo.error {
    font-weight: bolder;
    color: #0c0202;
    border-left: 6px solid red;
    background-color: #f7f7f7;
    margin-bottom: 11px;
    margin-top: 5px;
    padding-left: 10px;
}
.messageerror.error {
    font-weight: bolder;
    color: #0c0202;
    border-left: 6px solid red;
    background-color: #f7f7f7;
    margin-bottom: 11px;
    margin-top: 5px;
    padding-left: 10px;
}

.lr-form h1{
    font-size: 30pt;
    font-weight: 700;
    letter-spacing: -1px;
    text-decoration: underline;
}

.form-signin{
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 0px;
    border-top: 0px;
    width: 100%;
}
#registration-container input[type="submit"],
#login-container input[type="submit"],
#forgotpassword-container input[type="submit"],
#social-registration-form input[type="submit"],
#changepassword-container input[type="submit"]{
    background: darkseagreen;
    border: 0px;
    color: #fff;
    float: right;
    padding: 10px 14px;
    margin: 10px 0px;
}
#profileeditor-container input[type="submit"],
#resetpassword-container input[type="submit"]{
    background: darkseagreen;
    border: 0px;
    color: #fff;
    float: right;
    padding: 10px 14px;
    margin: 10px 70px;
}
#resetpassword-container {
    margin-left: 110px;
}

#registration-container label,
#login-container label,
#resetpassword-container label,
#social-registration-form label,
#forgotpassword-container label{
    width: 100%;
}
#profileeditor-container label,
#changepassword-container label {
    width: 30%;
    text-align: left;
    font-size : 14px;
}

#registration-container input[type="text"],
#login-container input[type="text"],
#forgotpassword-container input[type="text"],
#social-registration-form input[type="text"],
#registration-container input[type="password"],
#login-container input[type="password"],
#social-registration-form input[type="password"],
#forgotpassword-container input[type="password"],
#registration-container input[type="select"],
#login-container input[type="select"],
#social-registration-form input[type="select"],
#forgotpassword-container input[type="select"]{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
}
#profileeditor-container input[type="text"],
#profileeditor-container input[type="password"],
#changepassword-container input[type="text"],
#changepassword-container input[type="password"],
#resetpassword-container input[type="password"]{
    padding: 5px 10px;
    margin-top: 5px;
}

#profileeditor-container select,
#profileeditor-container textarea{
    width: 219px;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 16px;
}
hr {
    clear: both;
}
.OR {
    text-align: center;
    border-bottom: 1px dashed #ddd;
    margin-top: 25px;
    margin-bottom: 20px;
}
.OR:before{
    content: "OR";
    background: #eee;
    padding: 10px;
    border-radius: 50%;
    margin-top: -21px;
    position: absolute;

}
.lr-form{
    padding: 15px 40px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(0,0,0,0.1);
    margin:3% auto 0;
    max-width:630px;
}
.lr-form h3{  
    text-align: center;               
    border-bottom: 1px solid #eee;
    padding: 5px;
    border-top: 1px solid #eee;
}
.form-footer {
    padding: 15px 40px;
}
.authLinks{padding: 18px;}
.form-signin-heading{
    margin-bottom: 30px;
}
/*START SOCIAL ICON*/
.lr-icon-box {
    text-align: left;
    margin: 5px;
    width: 47.5%;
    float: left;
    cursor: pointer;
}
.lr-sl-icon {
    display: inline-block;
    text-align: center;
}

.lr-sl-icon:before,
.lr-sl-icon:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.lr-sl-icon:before {
    width: 32px;
    height: 32px;
    background-image: url("../images/lr_provider_sprite.png");
    /*Image fallback for ie8*/
    background-image: -webkit-linear-gradient(transparent, transparent), url("../images/icon-sprite.svg");
    background-image: linear-gradient(transparent, transparent), url("../images/icon-sprite.svg");
    /*SVG for scalability. Good for high resolution screens/retina*/
    background-size: 100% 3600%;
    background-position: 0 0;
    margin-top: -4px;
    margin-top: -0.4rem;
    border-right: 1px solid #fff;
}

.lr-provider-label.lr-sl-shaded-brick-button.lr-flat-line{
    background-color: #00c200 !important;
}
.lr-provider-label.lr-sl-shaded-brick-button.lr-flat-pinterest{
    background-color: #be2127 !important;
}

.lr-sl-icon.lr-sl-icon-line:before {
    background-image: url("../images/line.png") !important;
    background-size: 100% 100%; 
}
.lr-sl-icon.lr-sl-icon-pinterest:before {
    background-image: url("../images/pinterest.png") !important;
    background-size: 100% 100%; 
}

.lr-sl-icon:after {
    height: 100%;
    width: 0;
}
.lr-sl-shaded-brick-button {
    padding: 10px;
    color: #fff;
    width: 100%;
    display: inline-block;
}
.provider-label.lr-sl-shaded-brick-button.lr-flat-line {
 color:green;    
}
.lr-sl-icon-amazon:before {
    background-position: 0 -0.2%;
}

.lr-sl-icon-aol:before {
    background-position: 0 2.7%;
}

.lr-sl-icon-disqus:before {
    background-position: 0 5.6%;
}

.lr-sl-icon-facebook:before {
    background-position: 0 8.3%;
}

.lr-sl-icon-foursquare:before {
    background-position: 0 11.2%;
}

.lr-sl-icon-github:before {
    background-position: 0 14.1%;
}

.lr-sl-icon-google:before {
    background-position: 0 20%;
}

.lr-sl-icon-googleplus:before {
    background-position: 0 20%;
}

.lr-sl-icon-hyves:before {
    background-position: 0 22.8%;
}

.lr-sl-icon-instagram:before {
    background-position: 0 25.45%;
}

.lr-sl-icon-kaixin:before {
    background-position: 0 28.7%;
}

.lr-sl-icon-linkedin:before {
    background-position: 0 31.3%;
}

.lr-sl-icon-live:before {
    background-position: 0 34.2%;
}

.lr-sl-icon-livejournal:before {
    background-position: 0 37%;
}

.lr-sl-icon-mixi:before {
    background-position: 0 40.1%;
}

.lr-sl-icon-myspace:before {
    background-position: 0 43.1%;
}

.lr-sl-icon-odnoklassniki:before {
    background-position: 0 45.7%;
}

.lr-sl-icon-openid:before {
    background-position: 0 48.5%;
}

.lr-sl-icon-orange:before {
    background-position: 0 51.5%;
}

.lr-sl-icon-paypal:before {
    background-position: 0 54.2%;
}

.lr-sl-icon-persona:before {
    background-position: 0 57%;
}

.lr-sl-icon-qq:before {
    background-position: 0 59.8%;
}

.lr-sl-icon-renren:before {
    background-position: 0 62.5%;
}

.lr-sl-icon-salesforce:before {
    background-position: 0 65.6%;
}

.lr-sl-icon-stackexchange:before {
    background-position: 0 68.4%;
}

.lr-sl-icon-steamcommunity:before {
    background-position: 0 71.3%;
}

.lr-sl-icon-tumblr:before {
    background-position: 0 74.2%;
}

.lr-sl-icon-twitter:before {
    background-position: 0 77%;
}

.lr-sl-icon-verisign:before {
    background-position: 0 79.9%;
}

.lr-sl-icon-virgilio:before {
    background-position: 0 82.8%;
}

.lr-sl-icon-vkontakte:before {
    background-position: 0 85.8%;
}

.lr-sl-icon-sinaweibo:before {
    background-position: 0 88.6%;
}

.lr-sl-icon-wordpress:before {
    background-position: 0 91.3%;
}

.lr-sl-icon-yahoo:before {
    background-position: 0 94.2%;
}

.lr-sl-icon-xing:before {
    background-position: 0 97.1%;
}

.lr-sl-icon-mailru:before {
    background-position: 0 -105.8%;
}

.lr-flat-amazon {
    background-color: #f90;
}

.lr-flat-aol {
    background-color: #066cb1;
}

.lr-flat-disqus {
    background-color: #35a8ff;
}

.lr-flat-facebook {
    background-color: #3b5998;
}

.lr-flat-foursquare {
    background-color: #1cafec;
}

.lr-flat-github {
    background-color: #181616;
}

.lr-flat-google {
    background-color: #dd4b39;
}

.lr-flat-googleplus {
    background-color: #dd4b39;
}

.lr-flat-hyves {
    background-color: #f9a539;
}

.lr-flat-instagram {
    background-color: #406e94;
}

.lr-flat-kaixin {
    background-color: #bb0e0f;
}

.lr-flat-linkedin {
    background-color: #007bb6;
}

.lr-flat-live {
    background-color: #004c9a;
}

.lr-flat-livejournal {
    background-color: #3770a3;
}

.lr-flat-mixi {
    background-color: #d1ad5a;
}

.lr-flat-myspace {
    background-color: #313131;
}

.lr-flat-odnoklassniki {
    background-color: #f69324;
}

.lr-flat-openid {
    background-color: #f7921c;
}

.lr-flat-orange {
    background-color: #f60;
}

.lr-flat-paypal {
    background-color: #13487b;
}

.lr-flat-persona {
    background-color: #e0742f;
}

.lr-flat-qq {
    background-color: #29d;
}

.lr-flat-renren {
    background-color: #005baa;
}

.lr-flat-salesforce {
    background-color: #9cd3f2;
}

.lr-flat-stackexchange {
    background-color: #4ba1d8;
}

.lr-flat-steamcommunity {
    background-color: #666;
}

.lr-flat-tumblr {
    background-color: #32506d;
}

.lr-flat-twitter {
    background-color: #55acee;
}

.lr-flat-verisign {
    background-color: #0261a2;
}

.lr-flat-virgilio {
    background-color: #eb6b21;
}

.lr-flat-vkontakte {
    background-color: #45668e;
}

.lr-flat-sinaweibo {
    background-color: #bb3e3e;
}

.lr-flat-wordpress {
    background-color: #21759c;
}

.lr-flat-yahoo {
    background-color: #400090;
}

.lr-flat-xing {
    background-color: #007072;
}

.lr-flat-mailru {
    background-color: #1897e6;
}
/*END SOCIAL ICON*/
.bt-login{
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}
.loginradius-string, .loginradius-password{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.loginradius-string:focus, .loginradius-password:focus {
    z-index: 2;
}

.has-error{color:#ff0000 !important;}
.has-success{color:#78b310 !important;}
.has-error input{border:1px solid red !important;}
.has-success input{border:1px solid #78b310 !important;}

.message_success{background-color: #78b310; color:#fff;padding: 5px;}
.message_error{background-color: #e74c3c; color:#fff;padding: 5px;}
h1{font-family: Pacifico;}

/* profile css */



/*===============================Main===============================*/
.main {
    padding: 30px 0 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    text-align: center;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*// =============================================================*/
/*// profile page template*/
.lr-profile-frame {
    max-width: 1140px;
    margin: 0 auto 30px;
    font-size: 16px;
    line-height: 25px;
    font-size: 1rem;
    line-height: 1.5625rem;
}
.lr-profile-frame .lr-profile-header {
    margin-bottom: 30px;
}
.lr-profile-frame .lr-profile-header .lr-image-frame {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid #eee;
    border-radius: 50%;
    background: #fcfcfc;
    overflow: hidden;
}
.lr-profile-frame .lr-profile-header .lr-image-frame img {
    width: 100%;
}
.lr-profile-frame .lr-profile-header .lr-heading {
    font-size: 30px;
    line-height: 40px;
    font-size: 1.875rem;
    line-height: 2.5rem;
}
.lr-profile-frame .lr-profile-header .lr-profile-info .lr-uid-info {
    font-size: 14px;
    line-height: 25px;
    font-size: 0.875rem;
    line-height: 1.5625rem;
}
.lr-profile-frame .lr-profile-header .lr-profile-info .lr-email-info {
    font-size: 18px;
    line-height: 30px;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: bold;
}
.lr-profile-frame .lr-profile-header .lr-menu-buttons {
    margin-top: 15px;
}
.lr-profile-frame .lr-profile-header .lr-menu-buttons .lr-buttons, .lr-profile-frame .lr-profile-header .lr-menu-buttons .lr-logout {
    display: inline-block;
    padding: 0 20px;
    border-radius: 20px;
    background: #eee;
    color: #888;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    font-size: 1rem;
    line-height: 1.875rem;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.lr-profile-frame .lr-profile-header .lr-menu-buttons .lr-buttons:hover, .lr-profile-frame .lr-profile-header .lr-menu-buttons .lr-buttons.lr-tab-active, .lr-profile-frame .lr-profile-header .lr-menu-buttons .lr-logout:hover, .lr-profile-frame .lr-profile-header .lr-menu-buttons .lr-logout.lr-tab-active {
    background: #00b0f0;
    color: #fff;
}
.lr-profile-frame .lr-profile-header .lr-menu-buttons .lr-logout:hover {
    background: #EB9532;
}
.lr-profile-frame .lr-frame {
    padding: 15px 30px;
    display: none;
}
.lr-profile-frame .lr-frame.lr-input-style .lr-input-label {
    font-size: 16px;
    line-height: 30px;
    font-size: 1rem;
    line-height: 1.875rem;
}
.lr-profile-frame .lr-frame.lr-tab-active {
    display: block;
}
.lr-profile-frame .lr-frame#lr-password .lr-show-pw, .lr-profile-frame .lr-frame#lr-password .lr-show-pw {
    color: #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lr-profile-frame .lr-frame#lr-password .lr-show-pw:before, .lr-profile-frame .lr-frame#lr-password .lr-show-pw:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    margin-right: 5px;
    border: 1px solid #eee;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.lr-profile-frame .lr-frame#lr-password .lr-show-pw.lr-toggle, .lr-profile-frame .lr-frame#lr-password .lr-show-pw.lr-toggle {
    color: #2299dd;
}
.lr-profile-frame .lr-frame#lr-password .lr-show-pw.lr-toggle:before, .lr-profile-frame .lr-frame#lr-password .lr-show-pw.lr-toggle:before {
    border: 4px solid #2299dd;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-linked-frame {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-heading.lr-heading-small {
    font-size: 20px;
    line-height: 30px;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-icon-frame {
    width: 60px;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-icon-frame .lr-icon {
    text-align: center;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-icon-frame .lr-icon:before {
    position: static;
    font-size: 20px;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-linked-frame .lr-unlink {
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    color: #2299dd;
    position: relative;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-linked-frame .lr-unlink:before {
    position: absolute;
    display: inline-block;
    content: attr(data-title);
    opacity: 0;
    top: -30px;
    right: 0;
    color: #fff;
    background: #2299dd;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-linked-frame .lr-unlink:hover {
    color: #00b0f0;
}
.lr-profile-frame .lr-frame.lr-account-prov .lr-linked-frame .lr-unlink:hover:before {
    opacity: 1;
    top: -20px;
}
.login-container .lr-submit-frame.lr-align-right{
    float: right;
}
/*recaptcha*/

#recaptcha_image {
    height: auto !important;
}

#recaptcha_image  img{
    border: 1px solid #eee;
    border-radius: 0 10px;
    background: #f9f9f9;
    margin-top: 30px;
    padding: 10px 20px;
}
ul.recaptcha_options li a img {
    /*float: left;*/
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}
ul.recaptcha_options li a span {
    vertical-align: middle;
}
.loginradius-raas-validation-message {
    color: red;
}

.messagediv{
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
    /* margin: 25px auto; */
    padding: 15px 20px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.top-tootip{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: rgba(34, 153, 221, .9);
    border-radius: 0 10px;
    margin-bottom: 15px;
}
.top-tootip span{
    position: absolute;
    height: 30px;
    width: 30px;
    display: block;
    right: -28px;
    top: -7%;
    left: 47%;
    bottom: -30px;
}
.top-tootip h5{
    font-size: 0.875em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align:center;
    padding:0.8em 0;
}
.top-tootip p{
    color: #FFF;
    font-size: 0.875em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.2em;
    line-height: 30px;
}


#changepasswordbox .loginradius-raas-submit,
#setpasswordbox .loginradius-raas-submit {
    float:right;
}
.copy-right{
    text-align: center;
    clear: both;
}
/*
Ovrelay
*/
#fade {
    background: rgba(27,134,184,0.8);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    opacity: 1;
}
.overlay {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 60%;
    left: 0;
    right: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    background: rgba(27,134,184,0.9);
}

.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.circle {
    -webkit-animation: popIn .6s linear 0s 1;
    -moz-animation: popIn .6s linear 0s 1;
    -ms-animation: popIn .6s linear 0s 1;
    animation: popIn .6s linear 0s 1;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#changepasswordbox .loginradius-raas--form-element-content {
    position: relative;
    padding-left: 175px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#changepasswordbox .loginradius-raas--form-element-content label {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 18px;
    line-height: 33.75px;
    font-size: 1.125rem;
    line-height: 2.109375rem;
}
#changepasswordbox, #setpasswordbox, .lr-submit-frame.lr-align-right, #lr-basic form, #lr-poststatus form, #lr-sendmessage form{
    max-width: 540px;
    margin: 0 auto;
}
.Error, .Success{
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 15px 0px 0px 0px;
    padding: 10px 20px;
    border: 1px solid #29d !important;
    border-radius: 5px;
    position: relative;
    background: #2299dd;
    color: #fff;
    font-weight: bold;
}
.lr-input-style .loginradius-raas--form-element-content {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.loginradius-raas-submit{
    float:right;
}
.survey-form-span{
    float:left;
    margin-top: 10px;
}
.survey-form-hidden-text{
    display:none;
}
.survey-form-span-answers{
    float:left;
}
.survey-form-hide-content {
    display:none;
}

.cf
{
    *zoom:1
}
.cf:before
{
    content:" ";
    display:table
}
.cf:after
{
    content:" ";
    display:table;
    clear:both
}



.anchors-fix:before
{
    display:block;
    content:" ";
    margin-top:-210px;
    height:210px;
    visibility:hidden;
    position:relative;
    z-index:-1
}

.main-nav
{
    width:100%;
    height:85px;
    background-color:#fff;
    position:fixed;
    top:0;
    z-index:9999;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out
}
.main-nav .logo
{
    display:inline-block;
    float:left
}
.main-nav ul
{
    text-align:right
}
.main-nav ul li
{
    display:inline-block
}

.main-nav .secondary-menu
{
    font-size:12px;
    line-height:90px
}
.main-nav .secondary-menu ul li:first-child
{
    border-left:none
}
.main-nav .secondary-menu ul li.telephone a
{
    cursor:default
}
.main-nav .secondary-menu ul li.telephone a:hover
{
    text-decoration:none
}


.main-nav.sticky-nav-hide
{
    top:-100px
}
.main-nav.sticky-nav
{
    top:0px;
    box-shadow:0 2px 20px rgba(0, 0, 0, 0.07)
}


.container
{
    max-width:1180px;
    margin:0 auto;
    padding:0 10px
}
.header
{
    padding:70px 0 60px 0;
    background-position:center center
}
.facetextarea {
    width: 100%;
    height: 100px;
    background: #fcfcfc;
    border: 1px solid #eee;
}


.emailPopup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.emailPopup .saveButton{
    cursor: pointer;
    background: green;
    color: #fff;
    padding: 5px 15px;
    float: left;
    border-radius: 3px;
}
.emailPopup .popupModal-content {
    border-radius: 0 23px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 38%;
    min-width: 520px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop !important;
    -webkit-animation-duration: 0.4s !important;
    animation-name: animatetop !important;
    animation-duration: 0.4s !important;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.emailPopup .popupModal-body .span3 {
    font-weight: bold;
}
.emailPopup .popupModal-header{
    padding: 2px 16px;
    background-color: #dddddd;
    color: #000000;
    border-radius: 0 20px 0 0;
}
.emailPopup .popupModal-footer{
    padding: 2px 16px;
    background-color: #dddddd;
    color: #000000;
    border-radius: 0 0 0 20px;
}
.emailPopup .close{
    margin-top: 10px;
    margin-left: 99%;
    cursor: pointer;
}
.emailPopup .popupModal-body {padding: 2px 16px;}

.popupModal-body div.email{
    padding: 0px !important;    
}
.popupModal-body label.option{
    margin-left: -109px !important;
}
.popupModal-body label {
    margin-left: 10px !important;
    padding: 2px !important;
}
.popupModal-body input[type="text"] {
    margin-left: 10px !important;    
    padding: 2px !important;
    margin-top: 4px;
}
.popupModal-body input[type="submit"] {
    margin-top: 10px !important;
}